<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/news/index.html"><i class="fa fa-info-circle"></i>News</a></li>
        <li><a href="/roadmap.html"><i class="fa fa-info-circle"></i>Roadmap</a></li>
        <li><a href="/documentation.html"><i class="fa fa-info-circle"></i>Documentation</a></li>
        <li><a href="/community.html"><i class="fa fa-info-circle"></i>Community</a></li>
        <li><a href="https://benchmarks.sciml.ai"><i class="fa fa-info-circle"></i>Benchmarks</a></li>
        <li><a href="/citing.html"><i class="fa fa-info-circle"></i>Citing</a></li>
        <li><a href="/governance.html"><i class="fa fa-info-circle"></i>Governance</a></li>
        <li><a href="/showcase.html"><i class="fa fa-info-circle"></i>Showcase</a></li>
        <li><a href="https://github.com/SciML"><i class="fa fa-info-circle"></i>Source Code</a></li>
      </ul>
    </div>
  </nav>
</header>
