<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/news/index.html"><i class="fa fa-info-circle"></i>News</a></li>
        <li><a href="/packages.html"><i class="fa fa-info-circle"></i>Packages</a></li>
        <li><a href="https://juliadiffeq.github.io/DiffEqDocs.jl/latest/index.html"><i class="fa fa-info-circle"></i>Documentation</a></li>
        <li><a href="https://github.com/JuliaDiffEq/DiffEqTutorials.jl"><i class="fa fa-info-circle"></i>Tutorials</a></li>
        <li><a href="https://gitter.im/JuliaDiffEq/Lobby"><i class="fa fa-info-circle"></i>Chatroom</a></li>
        <li><a href="feed.xml"><i class="fa fa-info-circle"></i>News RSS Feed</a></li>
      </ul>
    </div>
  </nav>
</header>
