<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta property="og:title" content="SciML">
  <meta property="og:description" content="Open Source Software for Scientific Machine Learning">
  <meta property="og:image" content="https://sciml.ai/assets/SciMLGitHubPreview.png">
  <meta property="og:url" content="https://sciml.ai">

  <meta name="twitter:title" content="SciML">
  <meta name="twitter:description" content="Open Source Software for Scientific Machine Learning">
  <meta name="twitter:image" content="https://sciml.ai/assets/SciMLGitHubPreview.png">
  <meta name="twitter:card" content="summary_large_image">
  
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90474609-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-90474609-2');
  </script>
</head>
<body>
{{insert header.html}}

<!-- Content appended here -->
